# Compiled binaries
e3_latency
e1_causality
e1
e2b
e3
*.o

# Generated results
*.csv

# Editor
*.swp
*~

# Jupyter
.ipynb_checkpoints/

# Python
venv/
__pycache__/
*.pyc
*.egg-info/

# ESP-IDF build artifacts
reflex-os/build/
